.animation-initial-to-fade{
    transform: translateY(4rem);
    opacity: 0;
}
.show-animate-to-fade{
    transform: translateY(4rem);
    opacity: 0;
    animation: 500ms forwards slide_in_bottom_to_top_relative;
    animation-timing-function: ease-out;
}
@keyframes slide_in_bottom_to_top_relative{
    0%{
      opacity: 0;
      transform: translateY(4rem);
    }
    70%{
      opacity: 1;
      transform: translateY(-.1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  .small-to-max{
  transform: scale(.7);
  opacity: 0;
}
.animate-small-to-max{
  opacity: 0;
  animation: 450ms forwards small_to_max;
  animation-timing-function: ease-out;
}
@keyframes small_to_max{
  0%{
    opacity: 0;
    transform: scale(.6);
  }
  70%{
    transform: scale(1.03);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.small-to-max{
  transform: scale(.7);
  opacity: 0;
}
.animate-small-to-max{
  opacity: 0;
  animation: 450ms forwards small_to_max;
  animation-timing-function: ease-out;
}
@keyframes small_to_max{
  0%{
    opacity: 0;
    transform: scale(.6);
  }
  70%{
    transform: scale(1.03);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}