
.tooltips-container{
    ::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--light-coffee) transparent transparent transparent;
        transform: rotate(-180deg);
    }
}